.buttons-container {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    gap: 10px; 
    margin-top: 20px; 
}

.buttons-container button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.buttons-container button i {
    font-size: 24px; 
    color: inherit; 
    text-align: center; 
    display: inline-block; 
    color: #5e2b5c; width: 40px; text-align: center;
}

.buttons-container button i:hover{
    color:#2e1b4e;
    width:45px;
    height:10px;
}

.cart-button.clicked {
    color: #2e1b4e;
}

.heart-button.clicked{
    color: #2e1b4e;
}

.card-img-top{
    width:600px;
    align-items: center;
    height:500px;
}

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        height: 100%;
    }

.heart-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.heart-button i {
    font-size: 24px;
    color: #5e2b5c;
}

.heart-button.clicked i {
    color: #2e1b4e; 
}

.heart-button i:hover {
    color: #2e1b4e;
    width: 45px;
    height: 10px;
}

.cart-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart-button i {
    font-size: 24px;
    color: #5e2b5c;
}

.cart-button.clicked i {
    color: #2e1b4e; 
}

.cart-button i:hover {
    color: #2e1b4e;
    width: 45px;
    height: 10px;
}

.fa-arrow-left{
    color:#5e2b5c;
    font-size: 30px;
    text-align: left;
}

.fa-arrow-left:hover{
    color:#2e1b4e;
    font-size: 35px;
}

.arrow{
    text-align: left;
}

.carousel {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: center;
    height:500px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


