body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f1f8; 
    color: #2e1b4e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 450px; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2e1b4e; 
}

.form-label {
    font-weight: 500;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #2e1b4e;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #2e1b4e;
    box-shadow: 0 0 5px rgba(46, 27, 78, 0.5);
}

/*button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #2e1b4e;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaço entre o ícone e o texto 
}*/

.buttons-container {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    gap: 10px; 
    margin-top: 20px; 
}

.buttons-container button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.buttons-container button i {
    font-size: 24px; 
    color: inherit; 
    text-align: center; 
    display: inline-block; 
    color: #5e2b5c; width: 40px; text-align: center;
}

.card-img-top{
    width:600px;
    align-items: center;
    height:500px;
}

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        height: 100%;
    }


